QWidget#sidespacer
{
    min-width:150px;
}

QToolBar{
    /* background-color:blue; */
    background-color:#d8d8d8;
    min-height:100px;
    /* spacing:100px; */
}

QPushButton
{
    /* max-width:30px; */
    min-width:80px;
    min-height:80px;
    /* background:red; */
    background:transparent;
}

QPushButton::menu-indicator{
    image:none;
}